{% extends 'review/base.html' %}

{% block content %}

<form method="POST" action="" enctype="multipart/form-data">
	
<div class="d-flex justify-content-center">
	<form method="POST" action="" enctype="multipart/form-data" >
		<div class="input-group-append">
			{%csrf_token%}

			<h4>Creer une critique</h4>
			
			<div class="container-sm border mt-3 p-3" style="width: 100%;">
				{% include 'ticket/ticket.html' with ticket=ticket status=status %}
			</div>
			
			<div class="container-sm border mt-3 p-3" style="width: 100%;">
				<h6>Critique</h6>
				
				{{ review_form.as_p }}

				<div class="row">
					<input class="col-md-2 offset-md-10" type="submit" value="Envoyer">
				</div>
			</div>
		</div>
	</form>

</div>

{% endblock %}



