{% block content %}

{% load static %}


<div class="container-sm border mt-3 p-3" style="width: 60%;">
	
	<div class="d-flex justify-content-between">
		<div class="p-2">
			{% if review.user == user %}
					<p> <strong>Vous</strong> avez publié une critique. </p>
				{% else %}
					<p> <strong>{{ post.user }}</strong> a publié une critique. </p>
			{% endif %}
		</div>
		<div class="p-2">
			<p>{{ review.time_created }}</p>
		</div>
	</div>

	<strong>{{ review.headline }}</strong>
	{% with ''|center:review.rating as range %}
	{% for x in range %}
	<span>&#9733</span>
	{% endfor %}
	{% endwith %}
	

	<p class="text">{{ review.body }}</p>

	<div class="container-sm border mt-3 p-3" style="width: 95%;">
		<p>Ticket - 
		{% if review.ticket.user == user %}
			Vous avez publié une critique.
		{% else %}
			{{ post.user }} a publié une critique.
		{% endif %} </p>
		
		<p>{{ review.ticket.title }}</p>
		<img src="{% get_media_prefix %}{{ review.ticket.image }}" class="card-img-top" style="width: 50%;" alt="...">
	</div>
</div>

{% endblock %}


