{% block content %}

{% load static %}


<div class="container-sm border mt-3 p-3" style="width: 60%;">
	<p>{{ review.view }} à publié une critique </p>
	<p>{{ review.time_created }}</p>
	<strong>{{ review.headline }}</strong>
	{% with ''|center:review.rating as range %}
	{% for x in range %}
	<span>&#9733</span>
	{% endfor %}
	{% endwith %}
	

	<p class="text">{{ review.body }}</p>

	<div class="container-sm border mt-3 p-3" style="width: 95%;">
		<p>Ticket - {{ review.ticket.user}} </p>
		<p>{{ review.ticket.title }}</p>
		<img src="{% get_media_prefix %}{{ review.ticket.image }}" class="card-img-top" alt="...">
	</div>
</div>

{% endblock %}


