{% extends 'review/base.html' %} 

{% block content %}

<div class="container justify-content-center">
	<h4 class="text-center m-4"> Suivre d'autres utilisateurs </h4>

	<form method="POST" action="" enctype="multipart/form-data">
		<div class="input-group-append">
			{% csrf_token %}
			
			{{ userfollows_form.as_p }}

			<button class="col-md-2 offset-md-10 btn btn-outline-secondary" type="submit" value="upvote">Envoyer</button>
			
			{% for user in users %}
				<option>{{ user }} - {{ user.id }}</option>
			{% endfor %}
		</div> 
	</form>
</div>


<div class="container justify-content-center">
	<h4 class="text-center m-4"> Abonnements </h4>

	{% for subscription in subscriptions %}	
		<div class='container d-flex'>

			<div class="border" style="width: 90%;">
				<span class="px-4 align-middle">{{ subscription }}</span>
			</div>
			
			<div class="border text-center p-1">
				<a href="{% url 'subscription:unsubscribe' subscription.id %}" class="btn btn-outline-secondary ">Désabonner</a>
			</div>

		</div>
	{% endfor %}
			
	<h4 class="text-center m-4"> Abonnés </h4>

	{% for subscripter in subscripters %}
		<div class='border p-2'>
			{{ subscripter }}
		</div>
	{% endfor %}
</div>

{% endblock %}	