{% block content %}

{% load static %}

<div class="container-sm border mt-3 p-3" style="width: 60%;">
	<div class="d-flex justify-content-between">
		<div class="p-2">
			{% if ticket.user == user %}
					<strong>Vous </strong> avez demandé une critique le
				{% else %}
					<strong>{{ post.user }}</strong> a demandé une critique le
			{% endif %}
		</div>

		<div class="p-2">
			{{ ticket.time_created }}
		</div>
	</div> 
	<h5 class="text">{{ ticket.title }}</h5>
	<p class="text">{{ ticket.description }}</p>
	<img src="{% get_media_prefix %}{{ ticket.image }}" class="card-img-top" style="width: 40%;" alt="...">

	{% if status != 'reply' %}
		<div class="d-flex justify-content-end">
			<a href="{% url 'review' ticket.id %}" class="btn btn-outline-secondary mt-3">Répondre à ce ticket</a>
		</div>
	{% endif %}

</div>

{% endblock %}

