{% block content %}

{% load static %}

<div class="container-sm border mt-3 p-3" style="width: 60%;">
	<p class="text"><strong>{{ ticket.user }}</strong> a demandé une critique le {{ ticket.time_created }}</p>  
	{{ ticket.response }}
	<h5 class="text">{{ ticket.title }}</h5>
	<p class="text">{{ ticket.description }}</p>
	<img src="{% get_media_prefix %}{{ ticket.image }}" class="card-img-top" alt="...">
	<div class="d-flex justify-content-end">
		<a href="{% url 'review' ticket.id %}" class="btn btn-outline-secondary mt-3">Répondre à ce ticket</a>
	</div>
</div>

{% endblock %}

