{% extends 'review/base.html' %}

{% load static %}

{% block content %}

<div class="d-flex justify-content-center">
	<a class="btn btn-outline-secondary mx-3" href="{% url 'ticket:ticket' %}" role="button">Creer un ticket</a>
	<a class="btn btn-outline-secondary mx-3" href="{% url 'review' %}" role="button">Demander une critique</a>
</div>

<div class="row">

	{% for post in posts %}
	{% include 'review/review.html' %}
	{% include 'ticket/ticket.html' %}
	{% endfor %}

	{% for ticket in tickets %}
	<div class="container">
		<div class="container-sm border mt-3 p-3" style="width: 60%;">
		
		<a href="{% url 'review' ticket.id %}" class="btn btn-outline-secondary mt-3">Répondre à ce ticket</a>
		</div>
	</div>
	{% endfor %}
	
</div>
{% endblock %}



